<div class="p-10 relative">
    <div class="py-[70px]">
      <p class="underline">"ГЕОПРОЈЕКТ"-Биро за геодетске послове</p>
      <p class="underline">Нови Сад</p>
      <p class="underline">Руменачки пут 11</p>
    </div>
    <div>
      <p>
        У складу са чланом 147. став 3 Закона о државном премеру и катастру
        (“Службени гласник РС”, br.72/09 и 18/10) даје се следећа даје се
        следећа
      </p>
    </div>
    <div>
      <h3 class="font-bold text-xl text-center pt-10">ИЗЈАВА</h3>
    </div>
    <div>
      <p class="py-3">1.За потребе <span class="underline"></span></p>
      <p>(име и презиме/назив и адреса)</p>
      <p class="py-3">
        Извршиће се следећи геодетски радови <span class="underline"></span>
      </p>
      <p>(врста радова и mesto извршења)</p>
      <p class="py-3">
        Са извршењем наведених радова отпочеће се дана
        <span class="underline">2.5.2024</span> <br />
        а завршиће се дана <span class="underline">2.5.2024</span>
      </p>
    </div>
    <div>
      <p class="py-3">
        2.За извршење радова из тачке 1. ове изјаве потребно је да се геодетској
        радној организацији издају следећи подаци:
      </p>
      <p>Сви потребни подаци: <span class="underline">Podaci</span></p>
    </div>
    <div>
      <p class="py-3">
        3.За извођење радова из тачке 1. ове изјаве користиће се и подаци :
      </p>
      <ul class="list-disc py-2">
        <li>Мрежа перманентних станица Републике Србије(АГРОС)</li>
      </ul>
      <p>(означити ако ће се наведени подаци користити)</p>
      <p class="underline">Podaci</p>
    </div>
    <div class="py-2">
      <p>Место: <span class="underline">Novi Sad</span></p>
      <p>Датум: <span class="underline">10.07.2023</span></p>
    </div>
    <div class="py-10 flex justify-between items-center">
      <div>
        <p>Изјаве</p>
        <p class="underline">Stаnko,ing.geodezije</p>
        <p>М.П <span class="underline">ovde text</span></p>
      </div>
      <div>
        <p>Давалац</p>
        <p class="underline">Stаnko,ing.geodezije</p>
        <p>(потпис)</p>
      </div>
    </div>
</div>