{% extends 'main/index.html' %}
{% load static %}

{% block searchbar %}
<div class="search-wrapper">
    <div class="w-6 h-6 my-auto ml-1 dark:stroke-slate-500">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 my-auto dark:stroke-slate-500">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
    </svg>         
    </div>    
    <input type="search" id="searchbox" class="search-bar w-full">
</div>
{% endblock searchbar %}

{% block mainpanel %}

<div class="head-card">
    <p class="text-lg">Saradnici kancelarije {{ user.company }}</p>
</div>

<div class="main-card-grid">
    {% for assosiate in assosiates %}
        <div class="card">
            <div>
                <p>{{ assosiate.first_name|title }} {{ assosiate.last_name|title}}</p>   
                <p>{{ assosiate.email }}</p>
                <p>{{ assosiate.profession }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% if user.has_full_access or user.can_add_assosiate %}
<a href="{% url 'accounts:register-assosiate' %}" class="form-button ml-5">Dodaj saradnika</a>
{% endif %}
{% endblock mainpanel %}

{% block script %}
<script src="{% static 'js/navbar-search.js' %}"></script>
{% endblock script %}