{% extends 'main/index.html' %}
{% load static %}

{% block searchbar %}
<div class="search-wrapper">
    <div class="w-6 h-6 my-auto ml-1 dark:stroke-slate-500">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 my-auto dark:stroke-slate-500">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
    </svg>             
    </div>
    <input type="search" id="searchbox" class="search-bar w-full">
</div>
{% endblock searchbar %}

{% block mainpanel %}

    <div class="head-card ml-5 mr-5 mt-5">
        <p class="text-lg">Zaposleni u kancelariji {{ user.company }}</p>
    </div>

    <div class="main-card-grid">
        {% for user in users %}
            <a href="{% url 'accounts:edit-user' pk=user.id %}">
                <div class="card">
                    <div class="flex gap-2">
                        <img src="{% url 'accounts:profile-images' user_id=user.id %}" alt="User" class="h-12 w-12 rounded-full" />
                        <div>
                            <p>{{ user.first_name|title }} {{ user.last_name|title}} {% if user.licence_number %} - odgovorno lice {% endif %}</p>   
                            <p class="text-blue-400">{{ user.email }}</p>
                            {% if user.education %}
                                <p>{{ user.education }}</p>
                            {% endif %}
                            {% if user.telefon_number %}
                                <p>Telefon: {{ user.telefon_number }}</p>
                            {% endif %}
                            <p>Predmeta: {{ user.subject_set.all.count }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    {% if user.has_full_access or user.can_add_user %}
        <a href="{% url 'accounts:register-user' %}" class="form-button ml-5">Dodaj korisnika
        </a>       
    {% endif %}
{% endblock mainpanel %}

{% block script %}
<script src="{% static 'js/navbar-search.js' %}"></script>
{% endblock script %}