
<div id="document" style="width:297mm;height:208mm;background-color: #fff;padding:20mm; font-family:'Times New Roman', Times, sans-serif; font-size:12pt; line-height: 14pt;" data-orientation="landscape">

<div class="text-right">
    <p>Прилог 5</p>
    <div 
    class="text-left">
        <p>РЕПУБЛИКА СРБИЈА</p>
        <div><span style="display: inline-block;">ОПШТИНА
        </span><div contenteditable="true" style="display: inline-block; width: 300px; border-bottom: 1px solid black;">&nbsp;&nbsp;<script>document.write(lat2cyr("{{ subject.municipality|title }}"))</script></div></div>
        <div><span style="display: inline-block;">KO
        </span><div contenteditable="true" style="display: inline-block; width: 300px; border-bottom: 1px solid black;">&nbsp;&nbsp;<script>document.write(lat2cyr("{{ subject.cadastral_municipality|title }}"))</script></div></div>


    </div>
    <div class="pt-5 text-center font-bold">
        <p style="font-size: 22pt;">ПОДАЦИ О ОБЈЕКТИМА</p>
    </div>
    <div class="pt-5">
        {% if not subject.lot_set.all %}
        <table style="width: 100%; border-collapse: collapse; border: 1px solid black" contenteditable="true" cellspacing="0" cellpadding="0">
            <tbody class="text-center">
            <tr style="border: 1px solid black" class="h-4">
            <td style="border: 1px solid black" class="font-bold">&nbsp;Број парцеле</td>
            <td style=" border: 1px solid black" class="font-bold">&nbsp;Број објекта</td>
            <td style=" border: 1px solid black" class="font-bold">&nbsp;Начин коришћења</td>
            <td style=" border: 1px solid black" class="font-bold">&nbsp;Спратност</td>
            <td style=" border: 1px solid black" class="font-bold">&nbsp;Назив објекта</td>
            <td style=" border: 1px solid black" class="font-bold">&nbsp;Година изградње</td>
            <td style=" border: 1px solid black" class="font-bold">&nbsp;Ималац права на објекту</td>
            </tr>
            <tr style="border: 1px solid black" class="h-4">
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            </tr>
            <tr style="border: 1px solid black">
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            </tr>
            <tr style="border: 1px solid black">
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            </tr>
            <tr style="border: 1px solid black">
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            </tr>
            <tr style="border: 1px solid black">
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            </tr>
            <tr style="border: 1px solid black">
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            </tr>
            <tr style="border: 1px solid black">
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            </tr>
            <tr style="border: 1px solid black">
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            </tr>
            <tr style="border: 1px solid black">
            <td style="width: 64px; border: 1px solid black">&nbsp;</td>
            <td style="width: 64px; border: 1px solid black">&nbsp;</td>
            <td style="width: 125px; border: 1px solid black">&nbsp;</td>
            <td style="width: 104px; border: 1px solid black">&nbsp;</td>
            <td style="width: 104px; border: 1px solid black">&nbsp;</td>
            <td style="width: 102.967px; border: 1px solid black">&nbsp;</td>
            <td style="width: 375.033px; border: 1px solid black">&nbsp;</td>
            </tr>
            <tr style="border: 1px solid black">
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            </tr>
            <tr style="border: 1px solid black">
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            <td style=" border: 1px solid black">&nbsp;</td>
            </tr>
        </tbody>
    </table>
            {% else %}
                <table style="width: 100%; border-collapse: collapse; border: 1px solid black" contenteditable="true" cellspacing="0" cellpadding="0">
                    <tbody id="body">
                    <tr style="border: 1px solid black" class="h-4">
                    <td style="border: 1px solid black" class="font-bold">&nbsp;Број парцеле</td>
                    <td style=" border: 1px solid black" class="font-bold">&nbsp;Број објекта</td>
                    <td style=" border: 1px solid black" class="font-bold">&nbsp;Начин коришћења</td>
                    <td style=" border: 1px solid black" class="font-bold">&nbsp;Спратност</td>
                    <td style=" border: 1px solid black" class="font-bold">&nbsp;Назив објекта</td>
                    <td style=" border: 1px solid black" class="font-bold">&nbsp;Aдреса</td>
                    <td style=" border: 1px solid black" class="font-bold">&nbsp;Ималац права на објекту</td>
                    </tr>
                    {% for lot in subject.lot_set.all %}
                        {% if lot.lotobject_set.all %}
                        {% for object in lot.lotobject_set.all %}
                            <tr style="border: 1px solid black" class="h-4">
                            <td style=" border: 1px solid black; text-align: center;">&nbsp;{{ lot.lot_number }}</td>
                            <td style=" border: 1px solid black;  text-align: center;">&nbsp;{{ object.number }}</td>
                            <td style=" border: 1px solid black;  text-align: center;">&nbsp;{{ object.purpose }}</td>
                            <td style=" border: 1px solid black;  text-align: center;">&nbsp;{% if object.storey %}{{ object.storey }}{% endif %}</td>
                            <td style=" border: 1px solid black;  text-align: center;">&nbsp;{% if object.name %}{{ object.name }}{% endif %}</td>
                            <td style=" border: 1px solid black;  text-align: center;">&nbsp;{% if object.address %}{{ object.address|title }}{% endif %}</td>
                            <td style=" border: 1px solid black;  text-align: center;">&nbsp;</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
    
    </div>
    
    <div class="pt-10 flex justify-between items-start text-center">
        <div>
            <!-- <div><span style="display: inline-block;">
                Датум
            </span><div contenteditable="true" style="display: inline-block; width: 300px; border-bottom: 1px solid black;"></div></div> -->
            <div class="w-full flex justify-start items-center py-4">
                <p class="flex text-center">Датум:</p>
                <div id="datePickerContainer" class="relative w-full">
                    <input type="text" id="dateInput" readonly />
                    <div id="calendar" class="hidden absolute top-[100%] left-0 w-[209px] bg-white">
                  
                    </div>
                  </div>
               
            </div>
    
            <p class="font-bold">
                Податке прикупио:
            </p>
            <div><div contenteditable="true" style="display: inline-block; width: 300px; border-bottom: 1px solid black;"><script>document.write(lat2cyr("{{ subject.responsible_worker }}"))</script></div><br><span style="display: inline-block;">(
                име и презиме
            )
            </span></div>
            <div><div contenteditable="true" style="display: inline-block; width: 300px; border-bottom: 1px solid black;"></div><br><span style="display: inline-block;">(
            потпис
            )
            </span></div>
        </div>
        <div>
            <p class="font-bold">
                Одговорно лице:
            </p>
            <div><span style="display: inline-block;"></span><div contenteditable="true" style="display: inline-block; width: 300px; border-bottom: 1px solid black;"><script>document.write(lat2cyr("{{ subject.responsible_worker }}"))</script></div><br><span style="display: inline-block;">(
                име и презиме
                )
                </span></div>
                <p class="text-center">
                    <span style="display: inline-block;"></span><div contenteditable="true" style="display: inline-block; width: 300px; border-bottom: 1px solid black;"></div><br><span style="display: inline-block;">(
                        потпис
                        )
                        </span>
                </p>
        </div>
    </div>
    </div>
    <img id="pecat-ovlasceni" style="position: absolute; top: 650px; left: 300px; cursor: move;" draggable="true" onmousedown="handleMouseDown(this, event)" ontouchstart="handleMouseDown(this, event)" xpos="300" ypos="650">
    <img id="potpis-odgovorni" style="position: absolute; top: 650px; left: 150px; cursor: move;" draggable="true" onmousedown="handleMouseDown(this, event)" ontouchstart="handleMouseDown(this, event)" xpos="150" ypos="650">
    <img id="pecat-odgovorni" style="position: absolute; top: 590px; left: 820px; cursor: move;" draggable="true" onmousedown="handleMouseDown(this, event)" ontouchstart="handleMouseDown(this, event)" xpos="820" ypos="590">
    <img id="potpis-odgovorni2" style="position: absolute; top: 605px; left: 840px; cursor: move;" draggable="true" onmousedown="handleMouseDown(this, event)" ontouchstart="handleMouseDown(this, event)" xpos="840" ypos="605">

    {% for lot in subject.lot_set.all %}
        {% if lot.lotobject_set.all %}
            {% for object in lot.lotobject_set.all %}
                {% if object.owner %}<script>const imalacPrava = "{{ object.owner }}"</script>{% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <script>
        tableBody = document.getElementById("body")

        for(let i=tableBody.rows.length; i<16; i++) {
            tableRow = document.createElement("tr")
            for(let j=0; j<7; j++){
                tableCell = document.createElement("td")
                tableCell.style.border = "1px solid black"
                tableCell.style.textAlign = "center"
                tableRow.appendChild(tableCell)
            }
            tableRow.style.border = "1px solid black"
            tableRow.classList.add("h-5")
            tableBody.appendChild(tableRow)
        }

    let imalac = imalacPrava.split(',')
    for(let k=0; k<imalac.length; k++){
        let row = tableBody.getElementsByTagName("tr")[k+1]
        let lastCell = row.getElementsByTagName("td")[6]
        lastCell.innerText = imalac[k]
        if(k==15){
            break
        }
    }
    </script>
    <!-- <tr style="border: 1px solid black" class="h-4"></tr> -->