<div style="width: 210mm; height: 295mm; background-color: #fff; padding: 20mm; font-family: 'Times New Roman', Times, serif; font-size: 12pt; line-height: 14pt;" id="document" data-orientation="portrait">
  <p class="text-right">Прилог 4</p>

  <div class="pt-5">
    <p class="font-bold">РЕПУБЛИКА СРБИЈА</p>
    <p class="font-bold">РЕПУБЛИЧКИ ГЕОДЕТСКИ ЗАВОД</p>
    <p>Сектор за катастар непокретности</p>
    <p>
      Одељење за катастар водова
      <span
        style="
          width: 300px;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        "
        contenteditable="true"
      ></span>
      <br />
     <p class="text-center">
      <span class="italic" style="display: inline-block;"
      >(назив унутрашње јединице)</span
    >
     </p>
    </p>
    <p>
      Број:
      <span
        style="
          width: 200px;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        "
        contenteditable="true"
      ></span>
    </p>
    <p>
      Датум:
      <span
        style="
          width: 200px;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        "
        contenteditable="true"
      ></span>
    </p>
  </div>
  <p style="padding-top: 10px;">
    На основу члана 29. став 1. Закона о општем управном поступку ("Службени
    гласник РС", бр. 18/6 и 95/18-аутентично тумачење), Републички геодетски
    завод - Сектор за катастар непокретности - Одељење за катастар водова
    <span
      style="
        width: 200px;
        border-bottom: 1px solid black;
        display: inline-block;
        overflow: hidden;
      "
      contenteditable="true"
    ></span>
    издаје <br />
    <p class="text-center">
      <span class="italic"> (назив унутрашње јединице)</span>
    </p>
  </p>

  <div class="text-center pt-5">
    <p style="font-size: 14pt" class="font-bold">П О Т В Р Д У</p>
    <p class="font-bold">О ИЗВРШЕНОМ ГЕОДЕТСКОМ МЕРЕЊУ ВОДОВА</p>
  </div>

  <div class="pt-10">
    <p>
      На основу захтева
      <span
        style="
          width: 60%;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        "
        contenteditable="true"
      ></span>
      извршила је геодетско мерење
      <span
        style="
          width: 80.5%;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        "
        contenteditable="true"
      ></span>
      <span
        style="
          width: 100%;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        "
        contenteditable="true"
      ></span>
      који пролази катастарским парцелама
      <span
        style="
          width: 59%;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        "
        contenteditable="true"
      ></span>

      дужине
      <span
        style="
          width: 91%;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        "
        contenteditable="true"
      ></span>
      <span
        style="
          width: 100%;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        "
        contenteditable="true"
      ></span>
      који је уцртан на скици геодетског мерења бр
      <span
        style="
          width: 10%;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        "
        contenteditable="true"
      ></span>
      дана
      <span
        style="
          width: 10%;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        "
        contenteditable="true"
      ></span>
      године у граду/општини
      <span
        style="
          width: 83%;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        "
        contenteditable="true"
      ></span>
    </p>

    <p style="padding-top: 10px">
      Одељење за катастар водова извршило је преглед и картирање предметног
      вода.
    </p>

    <p style="padding-top: 10px">
      Потврда се издаје сходно члану 148. став 4. Закона о државном премеру и
      катастру ("Службени гласник РС", бр. 72/09, 18/10, 65/13, 15/15 - УС,
      96/15, 47/17, аутентично тумачење 113/17 - др. закон, 27/18 - ср. закон,
      41/18 - ср. закон), ради прибавњаља употребне дозволе за изграђени вод.
    </p>
  </div>
  <div class="pt-5 text-right">
    <p>Овлашћено лице</p>
    <span
      style="
        width: 35%;
        border-bottom: 1px solid black;
        display: inline-block;
        overflow: hidden;
      "
      contenteditable="true"
    ></span>
    <br />
    <span class="italic">(потпис)</span>
  </div>
</div>
<img id="pecat-ovlasceni" style="position: absolute; top: 781px; left: 510px; cursor: move;" draggable="true" onmousedown="handleMouseDown(this, event)" ontouchstart="handleMouseDown(this, event)" xpos="510" ypos="781" class="h-[30mm]">
<img id="potpis-ovlasceni" style="position: absolute; top: 744px; left: 439px; cursor: move;" draggable="true" onmousedown="handleMouseDown(this, event)" ontouchstart="handleMouseDown(this, event)" xpos="439" ypos="744" class="h-[30mm]">

