{%load static%}
<div id="document" style="width: 297mm; height: 208mm; background-color: #fff; padding: 20mm; font-family: 'Times New Roman', Times, serif; font-size: 12pt; line-height: 14pt;" data-orientation="landscape">
    <!-- zaglavlje -->

  <div class="text-center">
    <h2 class="font-bold text-[20px]">ЗАПИСНИК СНИМАЊА ДЕТАЉА ПОЛАРНОМ МЕТОДОМ</h2>
    <p class="font-bold py-2">ЕЛЕКТРООПТИЧКИ ИНСТРУМЕНТ</p>
  </div>
  <div class="w-full flex justify-between items-center py-4">
    <h2 class="font-bold">РЕПУБЛИЧКИ ГЕОДЕТСКИ ЗАВОД</h2>
    <p class="flex whitespace-nowrap w-1/6">Страна&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
  </div>

  <div class="w-full flex justify-between items-start gap-4">
    <table id="" style="width: 100%; border-collapse: collapse; border: 2px solid black" class="text-sm w-1/2" contenteditable="true"
    cellspacing="0" cellpadding="0">

        <tr>
            <td rowspan="2" style="border: 1px solid black" class="h-4 text-center h-[102px]">
                Станица Вис.инст. i  С.Д.  Датум
            </td>
            <td rowspan="2" style="border: 1px solid black;" class="h-4 text-center p-2">
                <img src="{%static 'img/Firefox_Screenshot_2023-08-31T10-08-24.786Z.png'%}" alt="" class="h-[70px]">
            </td>
            <td rowspan="2" style="border: 1px solid black" class="h-4 text-center">
                Хоризон-тални угао <br>
                α <br>
                º    '    ''   
            </td>
            <td rowspan="2" style="border: 1px solid black" class="h-4 text-center">
                Зенитно одстојање <br>
                Z <br>
                º    '    ''   
            </td>

            <td colspan="2"  style="border: 1px solid black" class="h-4 text-center">
                Дужина 
            </td>
            <td rowspan="2" style="border: 1px solid black;" class="h-4 text-center p-2">
                <img src="{%static 'img/Firefox_Screenshot_2023-08-31T10-13-48.131Z.png'%}" alt="" class="w-[70px]">
                <br>
                Ls
            </td>
        </tr>

        <tr>
            <td  style="border: 1px solid black" class="h-4 text-center">
                Коса <br>
                d'
            </td>
            <td  style="border: 1px solid black" class="h-4 text-center">
                Хоризонт. <br>
                d
            </td>
        </tr>

        <tr>
            <td style="border: 1px solid black" class="h-4 text-center">
                1
            </td>
            <td style="border: 1px solid black" class="h-4 text-center">
                2
            </td>
            <td style="border: 1px solid black" class="h-4 text-center">
                3
            </td>
            <td style="border: 1px solid black" class="h-4 text-center">
                4
            </td>
            <td style="border: 1px solid black" class="h-4 text-center">
                5
            </td>
            <td style="border: 1px solid black" class="h-4 text-center">
                6
            </td>
            <td style="border: 1px solid black" class="h-4 text-center">
                7
            </td>
        </tr>

        <tr>
            <td style="border: 1px solid black" class="h-4 text-center py-[1px] px-[2px]">
                
            </td>
            <td style="border: 1px solid black" class="h-4 text-center py-[1px] px-[2px]">
                
            </td>
            <td style="border: 1px solid black" class="h-4 text-center py-[1px] px-[2px]">
                
            </td>
            <td style="border: 1px solid black" class="h-4 text-center py-[1px] px-[2px]">
                
            </td>
            <td style="border: 1px solid black" class="h-4 text-center py-[1px] px-[2px]">
                
            </td>
            <td style="border: 1px solid black" class="h-4 text-center py-[1px] px-[2px]">
                
            </td>
            <td style="border: 1px solid black" class="h-4 text-center py-[1px] px-[2px]">
                
            </td>
        </tr>

    </table>


    <table id="" style="width: 100%; border-collapse: collapse; border: 2px solid black" class="text-sm w-1/2" contenteditable="true"
    cellspacing="0" cellpadding="0">
        <tr>
            <td rowspan="2" style="border: 1px solid black" class="h-4 text-center">
                Висинска разлика <br>
                ∆H=
                <br>
                d'cosZ+i-Ls
                <br>
                (d/tgZ+i-Ls)
            </td>
            <td colspan="2" style="border: 1px solid black" class="h-4 text-center">
                КООРДИНАТЕ
            </td>
            <td rowspan="2" style="border: 1px solid black" class="h-4 text-center">
                НАДМОРСКА ВИСИНА
                <br>
                H
            </td>
            <td rowspan="2" style="border: 1px solid black" class="h-4 text-center">
                ПРИМЕДБА
                <br>
                Инструмент, Ситуација, Група и др.
            </td>
        </tr>


        <tr>
            <td  style="border: 1px solid black" class="h-4 text-center">
               Y
            </td>
            <td  style="border: 1px solid black" class="h-4 text-center">
              X 
            </td>
        </tr>

        <tr>
            <td  style="border: 1px solid black" class="h-4 text-center">
                8
             </td>
             <td  style="border: 1px solid black" class="h-4 text-center">
                9
             </td>
             <td  style="border: 1px solid black" class="h-4 text-center">
                10
             </td>
             <td  style="border: 1px solid black" class="h-4 text-center">
                11
             </td>
             <td  style="border: 1px solid black" class="h-4 text-center">
                12
             </td>
        </tr>

        <tr>
            <td  style="border: 1px solid black" class="h-4 text-center py-[1px] px-[2px]">
                
             </td>
             <td  style="border: 1px solid black" class="h-4 text-center py-[1px] px-[2px]">
                
             </td>
             <td  style="border: 1px solid black" class="h-4 text-center py-[1px] px-[2px]">
                
             </td>
             <td  style="border: 1px solid black" class="h-4 text-center py-[1px] px-[2px]">
                
             </td>
             <td  style="border: 1px solid black" class="h-4 text-center py-[1px] px-[2px]">
                
             </td>
        </tr>
    </table>

  </div>

</div>