
<div id="document" style="width: 210mm; height: 295mm; background-color: #fff; padding: 20mm; font-family: 'Times New Roman', Times, serif; font-size: 12pt; line-height: 14pt;" data-orientation="portrait">

    <!-- zaglavlje -->
    <p class="text-right">Прилог 8</p>
    <div class="h-8"></div>
    <div class="w-1/1">
        <div class="w-2/3">
            <p>РЕПУБЛИКА СРБИЈА</p>
            <p class="flex whitespace-nowrap">ОПШТИНА / ГРАДСКА ОПШТИНА&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p class="flex whitespace-nowrap">КО&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" contenteditable="true" style="border-bottom: 1px solid #000;"></span></p>
        </div>
    </div>
    <div class="h-4"></div> <!-- divider -->
    <!-- 1 red u 2 kolone -->
    <div class="w-1/1 flex justify-between gap-4">
        <!-- kolona 1 (leva) -->
        <div class="w-1/2">
            <p class="flex whitespace-nowrap">Предмет број:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p class="flex whitespace-nowrap">Предмет 956-01-<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span> СКН&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p class="flex whitespace-nowrap">Датум доставе елабората:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p class="flex whitespace-nowrap">Решење РГЗ-а:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
        </div>
        <!-- kolona 2 (desna) -->
        <div class="w-1/2">
            <p class="flex whitespace-nowrap">Геодетска организација:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p class="flex whitespace-nowrap">Емаил:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p class="flex whitespace-nowrap">Тел.:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p class="flex whitespace-nowrap">Место:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
        </div>
    </div>
    <div class="h-12"></div> <!-- divider -->
    <!-- naslov -->
    <div class="w-1/1">
        <p class="font-bold text-center" style="font-size: 20pt;">ЕЛАБОРАТ ГЕОДЕТСКИХ РАДОВА</p>
    </div>
    <div class="h-8"></div> <!-- divider -->
    <div class="flex w-1/1 flex-col items-center">
        <p class="flex w-5/6 h-4 text-center"><span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
        <p style="font-size: 10pt;">(врста геодетских радова и локација)</p>
    </div>
    <div class="h-6"></div> <!-- divider -->
    <div class="w-1/1">
        <p class="font-bold text-center" style="font-size: 14pt;">Подаци о инвеститору</p>
    </div>
    <div class="h-4"></div> <!-- divider -->
    <!-- podaci ispod naslova -->
    <div class="w-1/1">
        <p class="flex whitespace-nowrap">Име / назив:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden border-solid border-b border-black" contenteditable="true"></span></p>
        <p class="flex whitespace-nowrap">Адреса:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
        <p class="flex whitespace-nowrap">Матични број:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
        <p class="flex whitespace-nowrap">ПИБ:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
        <p class="flex whitespace-nowrap">Телефон:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
        <p class="flex whitespace-nowrap">Емаил:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
    </div>
    <div class="h-6"></div> <!-- divider -->
    <div class="w-1/1">
        <p class="text-left font-bold" style="font-size: 14pt;">Садржај:</p>
    </div>
    <div class="h-4"></div> <!-- divider -->
    <!-- tabela -->
    <div class="w-1/1">
        <table id="tabela" width="100%" cellspacing="0" cellpadding="0" style="border: 1px solid #000; border-collapse: collapse;">
            <tr class="h-4">
                <th style="border: 1px solid #000; background-color: silver;">Редни број</th>
                <th style="border: 1px solid #000; background-color: silver;">Назив документа и број прилога</th>
            </tr>
            <tr class="h-4">
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 h-4 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-center" contenteditable="true"></span></p>
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 h-4 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
            </tr>
        </table>
    </div>
    <div class="h-8"></div> <!-- divider -->
    <!-- potpisi i pecati, 2 kolone -->
    <div class="w-1/1 flex justify-between gap-4">
        <div class="w-1/2 flex flex-col items-center">
            <div class="h-4"></div>
            <p class="font-bold text-center">Елаборат израдио:</p>
            <div class="h-4"></div>
            <p class="flex w-5/6 text-center"><span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p style="font-size: 10pt;">(назив извођача радова и седиште)</p>
            <div class="h-4"></div>
            <p class="flex w-5/6 text-center">М.П.&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p style="font-size: 10pt;">(печат и потпис овлашћеног лица)</p>
            <div class="h-4"></div>
            <p class="font-bold text-center">Одговорно лице:</p>
            <div class="h-4"></div>
            <p class="flex w-5/6 text-center">М.П.&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p style="font-size: 10pt;">(печат и потпис одговорног лица)</p>
        </div>
        <div class="w-1/2 flex flex-col items-center">
            <div class="h-4"></div>
            <p class="font-bold text-center">Преглед и пријем елабората извршио:</p>
            <div class="h-4"></div>
            <p class="flex w-5/6 text-center"><span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p style="font-size: 10pt;">(име и презиме, потпис)</p>
            <div class="h-4"></div>
            <p class="flex w-5/6 text-center">ОКВ&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <div class="h-8"></div>
            <p class="flex w-5/6 text-center">Датум прегледа:&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
        </div>
    </div>
</div>