<div id="document" style="width: 297mm; height: 208mm; background-color: #fff; padding: 20mm; font-family: 'Times New Roman', Times, serif; font-size: 12pt; line-height: 14pt;" data-orientation="landscape">
    <!-- zaglavlje -->
    <p class="text-right">Прилог&nbsp;5</p>
    <div class="h-8"></div>
    <div class="w-1/1">
        <div class="w-1/2">
            <p>РЕПУБЛИКА СРБИЈА</p>
            <p class="flex whitespace-nowrap">ОПШТИНА&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p class="flex whitespace-nowrap">КО&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" contenteditable="true" style="border-bottom: 1px solid #000;"></span></p>
        </div>
    </div>
    <div class="h-12"></div> <!-- divider -->
    <!-- naslov -->
    <div class="w-1/1">
        <p class="font-bold text-center" style="font-size: 20pt;">ПОДАЦИ О ОБЈЕКТИМА</p>
    </div>
    <div class="h-8"></div> <!-- divider -->
    <!-- tabela -->
    <div class="w-full">
        <table id="tabela" width="100%" cellspacing="0" cellpadding="0" style="border: 1px solid #000; border-collapse: collapse;">
            <tr>
                <th style="width: 8%; border: 1px solid #000; background-color: silver;"><strong>Број парцеле</strong></th>
                <th style="width: 8%; border: 1px solid #000; background-color: silver;">Број објекта</th>
                <th style="width: 14%; border: 1px solid #000; background-color: silver;">Начин коришћења</th>
                <th style="width: 10%; border: 1px solid #000; background-color: silver;">Спратност</th>
                <th style="width: 10%; border: 1px solid #000; background-color: silver;">Назив објекта</th>
                <th style="width: 10%; border: 1px solid #000; background-color: silver;">Година изградње</th>
                <th style="width: 40%; border: 1px solid #000; background-color: silver;">Ималац права на објекту</th>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-center" contenteditable="true"></span></p>
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-center" contenteditable="true"></span></p>
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
                <td style="border: 1px solid #000;">
                    <p class="w-1/1 flex whitespace-nowrap px-2"><span class="flex-grow whitespace-nowrap overflow-hidden text-left" contenteditable="true"></span></p>                
                </td>
            </tr>
        </table>
    </div>
    <div class="h-8"></div> <!-- divider -->
    <div class="w-1/1 flex justify-between gap-4">
        <div class="w-1/3 flex flex-col items-center">
            <div class="w-full flex justify-start items-center ">
                <p class="flex text-center">Датум:</p>
                <div id="datePickerContainer" style="border-bottom: 1px solid black;" class="relative p-2 w-full ">
                    <input type="text" id="dateInput" readonly />
                    <div id="calendar" class="hidden absolute top-[100%] left-0 w-[209px] bg-white z-10">
                  
                    </div>
                  </div>
               
            </div>
            <div class="h-4"></div>
            <p class="font-bold text-center">Податке прикупио:</p>
            <div class="h-4"></div>
            <p class="flex w-full text-center"><span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p style="font-size: 10pt;">(име и презиме)</p>
            <div class="h-4"></div>
            <p class="flex w-full text-center"><span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p style="font-size: 10pt;">(потпис)</p>
        </div>
        <div></div>
        <div class="w-1/3 flex flex-col items-center">
            <div class="h-4"></div>
            <p class="font-bold text-center">Одговорно лице:</p>
            <div class="h-4"></div>
            <p class="flex w-full text-center">М.П.&nbsp;<span class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;" contenteditable="true"></span></p>
            <p style="font-size: 10pt;">(печат и потпис одговорног лица)</p>
        </div>
    </div>


</div>
