{%load static%}
<div style="width: 210mm; height: 295mm; background-color: #fff; padding: 20mm; font-family: 'Times New Roman', Times, serif; font-size: 12pt; line-height: 14pt;"
id="document" data-orientation="portrait">
    <div class="w-full flex justify-between items-center">
        <h2 class="font-bold">РЕПУБЛИКА СРБИЈА</h2>
        <p>1</p>
    </div>
    <div class="w-full flex justify-between items-center pt-4">
        <h2 class="font-bold text-[12px]">РЕПУБЛИЧКИ ГЕОДЕТСКИ ЗАВОД</h2>
        <p class="text-[12px]">Тригономертијски образац бр. 25</p>
        <p class="flex whitespace-nowrap text-[12px] w-1/6">Страна:&nbsp;<span
            class="flex-grow whitespace-nowrap overflow-hidden" style="border-bottom: 1px solid #000;"
            contenteditable="true"></span></p>
    </div>

    <div class="pt-4">
        <table id="" style="width: 100%; border-collapse: collapse; border: 2px solid black" class="text-sm" contenteditable="true"
        cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="13" style="border: 2px solid black" class="h-4 text-center font-bold">
                    СПИСАК КООРДИНАТА И НАДМОРСКИХ ВИСИНА ТАЧАКА
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border: 1px solid black" class="h-4 text-center">
                    Ознака, број и назив тачке 
                </td>
                <td  style="border: 1px solid black;" class="w-[51px] text-center p-2" >
                   <img src="{%static 'img/oie_31104998ckiSrxI.png'%}" alt="">
                    
                </td>
                <td  style="border: 1px solid black;" class="w-[51px] text-center p-2"  >
                   <img src="{%static 'img/oie_3110422GWRaC5JA.png'%}" alt="">                        
                </td>
                <td style="border: 1px solid; border-left: 2px solid black;" class="h-4 text-center" >
                    Ордината Y [m]                         
                </td>
                <td style="border: 1px solid black;" class="w-[21px] p-[2px]">
                    <img src="{%static 'img/oie_31104320DF7LPaT0.png'%}" alt="">                       
                </td>
                <td style="border: 1px solid black;border-right: 2px solid black;" class="h-4 text-center" >
                    Апсциса X [m]                         
                </td>
                <td style="border: 1px solid black;" class="w-[21px] ">
                   <img src="{%static 'img/oie_31104320DF7LPaT0.png'%}" alt="">                         
                </td>
                <td style="border: 2px solid black;" class=" text-center w-[70px]" >
                    Надмор-
                    ска
                    висина
                    H [m]                         
                </td>
                <td style="border: 1px solid black;" class="w-[21px] text-center text-[12px]">
                 <img src="{%static 'img/oie_31104320DF7LPaT0.png'%}" alt="">                          
                </td>
                <td style="border: 1px solid black;" class="w-[51px] text-center p-2">
                    <img src="{%static 'img/oie_31104037RSu66C7C.png'%}" alt="">                          
                </td>
                <td style="border: 1px solid black;text-orientation: mixed;" class="h-4 text-center" >
                    Врста белеге                         
                </td>
                <td style="border: 2px solid black;" class="w-[71px] text-center">
                     <img src="{%static 'img/oie_31103837tSgaqWDl.png'%}" alt="">                         
                </td>
            </tr>
            <tr style="border:2px solid black">
                <td colspan="2" style="border: 1px solid black" class="h-4 text-center">
                    1 
                </td>
                <td  style="border: 1px solid black;text-orientation: mixed;" class="h-4 text-center" >
                  2
                </td>
                <td  style="border: 1px solid black;border-right: 2px solid black;" class="h-4 text-center" >
                    3                         
                </td>
                <td style="border: 1px solid black;text-orientation: mixed;" class="h-4 text-center" >
                    4                        
                </td>
                <td style="border: 1px solid black;text-orientation: mixed;" class="h-4 text-center" >
                   &nbsp;                         
                </td>
                <td style="border: 1px solid black;text-orientation: mixed;" class="h-4 text-center" >
                    5                         
                </td>
                <td style="border: 2px solid black;" class="h-4 text-center" >
                    &nbsp;                         
                </td>
                <td style="border: 2px solid black;" class="h-4 text-center" >
                    6                       
                </td>
                <td style="border: 1px solid black;text-orientation: mixed;" class="h-4 text-center" >
                    &nbsp;                         
                </td>
                <td style="border: 1px solid black;text-orientation: mixed;" class="h-4 text-center" >
                    7                         
                </td>
                <td style="border: 1px solid black;text-orientation: mixed;" class="h-4 text-center" >
                   8                        
                </td>
                <td style="border: 2px solid black;text-orientation: mixed;" class="h-4 text-center" >
                    9                         
                </td>
            </tr>

            <tr>
                <td style="border: 1px solid black" class="h-4 text-center">
                     
                </td>
                <td style="border: 1px solid black" class="h-4 text-center">
                     
                </td>
                <td  style="border: 1px solid black;" class="h-4 text-center" >
                  
                </td>
                <td  style="border: 1px solid black;border-right: 2px solid black;" class="h-4 text-center" >
                                             
                </td>
                <td style="border: 1px solid black;text-orientation: mixed;" class="h-4 text-center" >
                                            
                </td>
                <td style="border: 1px solid black;" class="h-4 text-center" >
                                            
                </td>
                <td style="border: 1px solid black;" class="h-4 text-center" >
                                             
                </td>
                <td style="border: 2px solid black;" class="h-4 text-center" >
                                             
                </td>
                <td style="border: 1px solid black;" class="h-4 text-center" >
                                           
                </td>
                <td style="border: 1px solid black;border-left: 2px solid black;" class="h-4 text-center" >
                                            
                </td>
                <td style="border: 1px solid black;" class="h-4 text-center" >
                                             
                </td>
                <td style="border: 1px solid black;" class="h-4 text-center" >
                                          
                </td>
                <td style="border: 2px solid black;" class="h-4 text-center" >
                                             
                </td>
            </tr>
        </table>
    </div>
</div>

