<div style="width: 210mm; height: 295mm; background-color: #fff; padding: 20mm; font-family: 'Times New Roman', Times, serif; font-size: 12pt; line-height: 14pt;" id="document" data-orientation="portrait">
  <p class="text-right">Прилог 3</p>

  <div class="pt-10">
    <p class="text-center">
      <span class="font-bold text-center" style="font-size: 14pt">
        РЕПУБЛИЧКИ ГЕОДЕТСКИ ЗАВОД
      </span>
      <br />
      <span style="
          width: 250px;
          border-bottom: 1px solid black;
          display: inline-block;
          overflow: hidden;
        " contenteditable="true"></span>
      <br />
      <span class="italic">(назив унутрашње јединице) </span>
    </p>
  </div>

  <div class="pt-5">
    <p>
      У складу са чланом 147. ст 1. и 2. Закона о државном премеру и катастру
      ("Службени гласник РС", бр. 72/09, 18/10, 65/13, 15/15 -УС, 96/15, 47/17 -
      аутентично тумачење, 113/17 - др. закон, 27/18 - др. закон, 41/18 - др.
      закон), подноси се
    </p>
  </div>

  <div class="pt-5 text-center">
    <p class="font-bold" style="font-size: 14pt">ЗАХТЕВ</p>
    <p>-за упис промене у катастру водова-</p>
  </div>

  <div class="pt-5">
    <p class="font-bold">
      1.ПОДАЦИ О ПОДНОСИОЦУ ЗАХТЕВА
    </p>

    <p class="flex items-center pt-3">
      <span class="w-1/4">Назив/име и презиме:</span>
      <span class="flex-grow border-b border-black ml-2" contenteditable="true">
      </span>
    </p>

    <p class="flex items-center">
      <span class="w-1/4">Матични број/ЈМБГ:</span>
      <span class="flex-grow border-b border-black ml-2"  contenteditable="true">
      </span>
    </p>

    <p class="flex items-center">
      <span class="w-1/4">Адреса:</span>
      <span class="flex-grow border-b border-black ml-2" contenteditable="true">
        <span class="w-full"></span>
      </span>
    </p>

    <p class="flex items-center">
      <span class="w-1/4">Контакт телефон:</span>
      <span class="flex-grow border-b border-black ml-2" contenteditable="true">
        <span class="w-full" ></span>
      </span>
    </p>
  </div>

  <div class="pt-5">
    <p class="font-bold">
      2.ПОДАЦИ О ПРЕДМЕТУ ЗАХТЕВА
    </p>
    <p class="pt-2">
      Молим да се на основу приложене документације изврши
    </p>
    <span style="
        width: 100%;
        border-bottom: 1px solid black;
        display: inline-block;
        overflow: hidden;
      " contenteditable="true"></span>
    <span style="
        width: 100%;
        border-bottom: 1px solid black;
        display: inline-block;
        overflow: hidden;
      " contenteditable="true"></span>
    <span style="
        width: 100%;
        border-bottom: 1px solid black;
        display: inline-block;
        overflow: hidden;
      " contenteditable="true"></span>
    <span style="
        width: 100%;
        border-bottom: 1px solid black;
        display: inline-block;
        overflow: hidden;
      " contenteditable="true"></span>
    <span class="italic" style="display: block; text-align: center">(уписати врсту промене)</span>
  </div>

  <div class="pt-5">
    <p class="font-bold">3.ПРИЛОЗИ</p>
    <p>
      <span class="w-1/4">1.</span>
      <span
      style="
        width: 97%;
        border-bottom: 1px solid black;
        display: inline-block;
        overflow: hidden;
      "
      contenteditable="true"
    ></span>
    <p>
      <span class="w-1/4">2.</span>
      <span
      style="
        width: 97%;
        border-bottom: 1px solid black;
        display: inline-block;
        overflow: hidden;
      "
      contenteditable="true"
    ></span>
    </p>

    <p>
      <span class="w-1/4">3.</span>
      <span
      style="
        width: 97%;
        border-bottom: 1px solid black;
        display: inline-block;
        overflow: hidden;
      "
      contenteditable="true"
    ></span>
    </p>

    <p>
      <span class="w-1/4">4.</span>
      <span
      style="
        width: 97%;
        border-bottom: 1px solid black;
        display: inline-block;
        overflow: hidden;
      "
      contenteditable="true"
    ></span>
    </p>

    </p>
  </div>

  <div class="pt-5">
    <p>Доказ о уплати републичке административне таксе:</p>
    <p>-за захтев у износу од <span style="
      width: 60%;
      border-bottom: 1px solid black;
      display: inline-block;
      overflow: hidden;
    " contenteditable="true">

      </span>динара</p>
    <p>-за пружање услуга РГЗ у износу од <span style="
      width: 60%;
      border-bottom: 1px solid black;
      display: inline-block;
      overflow: hidden;
    " contenteditable="true">

      </span>динара</p>
  </div>
  <div class="pt-5 flex flex-col justify-between items-center md:flex-row">
    <div>
      <p style="text-align: center;">
        <span style="
            width: 200px;
            border-bottom: 1px solid black;
            display: inline-block;
            overflow: hidden;
          " contenteditable="true">
        </span> <br>
        <span class="italic">(место и датум)</span>
      </p>
    </div>

    <div>
      <p style=" text-align: center">
        Подносилац захтева <br>
        <span style="
        width: 200px;
        border-bottom: 1px solid black;
        display: inline-block;
        overflow: hidden;
      " contenteditable="true">
        </span> <br>
        <span class="italic">(име и презиме овлашћеног лица)</span> <br>
        <span style="
    width: 200px;
    border-bottom: 1px solid black;
    display: inline-block;
    overflow: hidden;
  " contenteditable="true">
        </span> <br>
        <span class="italic">(потпис)</span>
      </p>
    </div>
  </div>
</div>
<img id="pecat-ovlasceni" style="position: absolute; top: 944px; left: 503px; cursor: move;" draggable="true" onmousedown="handleMouseDown(this, event)" ontouchstart="handleMouseDown(this, event)" xpos="503" ypos="944" class="h-[30mm]">
<img id="potpis-ovlasceni" style="position: absolute; top: 895px; left: 438px; cursor: move;" draggable="true" onmousedown="handleMouseDown(this, event)" ontouchstart="handleMouseDown(this, event)" xpos="438" ypos="895" class="h-[30mm]">
