{% extends 'base-form.html' %}
{% load static %}
{% load widget_tweaks %}


{% block placeform %}
<div class="my-auto p-4 border border-slate-300 rounded-xl w-full">
    <h2 class="text-2xl mb-3 text-slate-800">Resetujte šifru</h2>
      <form method="POST" class="flex flex-col justify-start gap-4">
        {% csrf_token %}
	  
        {% if form.new_password1.errors %}
        {% render_field form.new_password1|add_class:"input-error" placeholder="Nova šifra" %}
        {% else %}
            {% render_field form.new_password1|add_class:"input-standard" placeholder="Nova šifra" %}
        {% endif %}
        {% for error in form.new_password1.errors %}
            <div class="text-red-500">{{error}}</div>
        {% endfor %}

        {% if form.new_password2.errors %}
        {% render_field form.new_password2|add_class:"input-error" placeholder="Potvrda nove šifre" %}
        {% else %}
            {% render_field form.new_password2|add_class:"input-standard" placeholder="Potvrda nove šifre" %}
        {% endif %}
        {% for error in form.new_password2.errors %}
            <div class="text-red-500">{{error}}</div>
        {% endfor %}
        
        

        <button class="form-button" type="submit">Promenite</button>


      </form>
  
  </div>
{% endblock placeform %}